#container {
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 30px;
}

#map {
    height: 70vh;
    cursor: crosshair;
}

#map * {
    cursor: crosshair;
}

.pin-title {
    background-color: white;
    /* the icon has a width of 25px */
    margin-left: calc(-50% + 25px);
    padding: 0 5px;
    width: max-content;
    height: max-content;
}

#control-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-top: 30px;
}

@media only screen and (max-width: 600px) {
    #control-container {
        flex-direction: column;
    }
}

#coordinate-input {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: [col1-start] 100px [col2-start] 100px [col3-start] 100px [col3-end];
    grid-template-rows: [row1-start] auto [row2-start] auto [row3-start] auto [row4-start] auto [row5-start] auto [row6-start] auto [row6-end];
}

#overworld-label {
    background-color: grey;
    grid-column: col1-start;
    grid-row: row1-start;
}

#overworld-x {
    background-color: grey;
    grid-column: col2-start;
    grid-row: row1-start;
}

#overworld-z {
    background-color: grey;
    grid-column: col3-start;
    grid-row: row1-start;
}

#nether-label {
    background-color: grey;
    grid-column: col1-start;
    grid-row: row2-start;
}

#nether-x {
    background-color: grey;
    grid-column: col2-start;
    grid-row: row2-start;
}

#nether-z {
    background-color: grey;
    grid-column: col3-start;
    grid-row: row2-start;
}

#height-label {
    background-color: grey;
    grid-column: col1-start;
    grid-row: row3-start;
}

#height {
    background-color: grey;
    grid-column: col2-start / col3-end;
    grid-row: row3-start;
}

#title-label {
    background-color: grey;
    grid-column: col1-start;
    grid-row: row4-start;
}

#title {
    background-color: grey;
    grid-column: col2-start / col3-end;
    grid-row: row4-start;
}

#description-label {
    background-color: grey;
    grid-column: col1-start;
    grid-row: row5-start;
}

#description {
    background-color: grey;
    grid-column: col2-start / col3-end;
    grid-row: row5-start;
}

#color-label {
    background-color: grey;
    grid-column: col1-start;
    grid-row: row6-start;
}

#color {
    background-color: grey;
    grid-column: col2-start / col3-end;
    grid-row: row6-start;
}

#pin-list-container {
    width: 400px;
}

#pin-list {
    display: flex;
    flex-direction: column;
    gap: 5px;

    padding-right: 20px;
    height: 50vh;
    overflow: scroll;
}

.pin-item {
    border: 2px solid black;
    padding: 5px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.pin-item .pin-coordinates {
    display: inline-grid;
    gap: 5px;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto;
}

.pin-item.selected {
    background-color: dark-grey;
    background-color: grey;
}

.pin-content {
    display: flex;
    flex-direction: column;
}

.pin-buttons {
    display: flex;
    flex-direction: column;
}

.pin-list-buttons-container {
    margin-top: 30px;

    display: flex;
}
